# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
*.egg-info/
*.egg
wheels/
*.whl

# Type checker cache
.mypy_cache/
.dmypy.json
dmypy.json

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml

# IPython Notebook
.ipynb_checkpoints

# Profiling
*.prof
*.lprof
